* {
  padding: 0px;
  margin: 0px;
}


body {
  background-color: #A8DCD1;
  padding: 30px;
}
p,a {
  color: #06070E;
  font-family: Calibtr, Ariel, sans-serif
}
li  {
  color: #06070E;
  font-family: Bombshell Pro
}
h1,h2 {
  margin-bottom: 20px;
  margin-top: 20px;
  font-family: Brand;
  color: #F9627D;
}


li {
  margin-top: 8px;
  margin-bottom: 8px;
}
}
a:link {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: #F9627D;
}
a:visited {
  text-decoration: none;
}

li {
  color: #F9627D;
  padding-left: 5px;
  margin-left: 12px;
}
li:hover {
  color: black;
}
h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}
@font-face {
  font-family: Brand;
  src: url(fonts/Brand.otf);
}


.caption {
  font-size: 16pt;
  color: yellow;
}

.left-column {
  background-color:;

}



.three-container {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.card {
  height:300px;
  background-color: #F9627D;
  border: black solid 2px;
  border-radius: 20px;
}

.left-column {
  background-color:
}

.main-container {

}

.center-text {
  text-align: center;
}

.card img {
  max-width: 100%;
  max-height: 100%;
}
